<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/icono.png">
</head>
<body>
    <!-- HEADER -->
    <header class="headerMayor"> 
        <section class="headerContenedor">
            <div class="caja1">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="buscador">
                    <form id="buscador"> 
                        <input type="search" placeholder="Buscar en Mercado Liebre"  id="barra" style="padding: 10px;">
                        <i class=" Lupa lupa fa fa-search"></i>
                    </form>
                </div>
                <p class="P-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <section class="menu-Oculto">
                <nav class="main-navbar-left">
                    <div class="left1"><a href="/" class="link">Ofertas</a></div>
                    <div class="left1"><a href="/" class="link">Tiendas Oficiales</a></div>
                    <div class="left1"><a href="/" class="link">Vender</a></div>
                    <div class="left1"><a href="/" class="link">Ayuda</a></div>
                </nav>
                
                <nav class="main-navbar-right">
                    <div class="right1"><a href="/register" class="link">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></div>
                    <div class="right1"><a href="/login" class="link">Ingresá<i class="fa-solid fa-arrow-right"></i></a></div>
                    <div class="right1"><a href="/home" class="link">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></div> 
                </nav>
            </section>
                <nav class="burguer"><i class="fas fa-bars"></i></nav>
            </div>
        </section> 
    </header>

    
    <!-- FIN HEADER -->

    <img id="img-banner" src="./images/img-home-banner.jpg">
    
    <main>
        <h2>Basado en tu última visita</h2>
        <section>
            <article class="card-product">
                <img src="./images/img-cafetera-moulinex.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="card-product">
                <img src="./images/img-macbook-pro-2019.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="card-product">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="card-product">
                <img src="./images/img-tv-samsung-smart.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripcion">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>

        <h2>Ofertas</h2>
        <section>

            <article class="card-product">
                <img src="./images/img-cafetera-moulinex.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="card-product">
                <img src="./images/img-macbook-pro-2019.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="card-product">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="card-product">
                <img src="./images/img-tv-samsung-smart.jpg" alt="">
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="precio-y-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripcion">SmartTV Samsung 43"</p>
                </div>
            </article>

        </section>

    </main>

    <footer style="width: 100%;">
        <section class="top-footer">
            <section class="beneficios">
                <div class="icono-beneficios"><i class="FooterIcono far fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="beneficios">
                <div class="icono-beneficios"><i class="FooterIcono fas fa-gift"></i></div>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="beneficios">
                <div class="icono-beneficios"><i class="FooterIcono fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
        </section>
        <section id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>


    </footer>
</body>
</html>
